.li-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.line {
  width: 100%;
  border: solid #334155 1px;
}
.btn-visit {
  background-color: #3b82f6;
  color: #ffffff;
  border-width: 0px;
  outline: none;
  height: 30px;
  font-weight: 600;
  border-radius: 5px;
  width: 70px;
  cursor: pointer;
  font-family: 'Roboto';
}
.visited-para {
  font-family: 'Roboto';
  color: #cbd5e1;
}
.name {
  font-family: 'Roboto';
  color: #f8fafc;
}
